/*ContactBoxes*/
.boxar {
    height: 250px;
  }
  
  .fatherS {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 120px;
  }
  .fatherS .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .box {
    position: relative;
    top: 70px;
    height: 130px;
    width: 220px;
    border-color: rgba(25,25,25,0.2 );
  border-width: 1px;
  border-style: solid;
  
  
  background: #ffffff
  }
  .box .htext {
    position: relative;
    top: 30px;
    left: 80px;
    border-color: #000000;
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    font-style: normal;
    text-align: left;
    color: #191919;
  }
  .box .p1 {
    position: relative;
    top: 40px;
    left: 80px;
    font-family: "Inter";
    font-size: 10px;
    font-weight: normal;
    line-height: 0px;
    font-style: normal;
    text-align: left;
    letter-spacing: 0px;
    color: rgba(25, 25, 25, 0.8);
  }
  .box .p2 {
    position: relative;
    top: 40px;
    left: 80px;
    font-family: "Inter";
    font-size: 10px;
    font-weight: normal;
    line-height: 0px;
    font-style: normal;
    text-align: left;
    letter-spacing: 0px;
    color: rgba(25, 25, 25, 0.8);
  }
  .box img {
    position: relative;
    left: 25px;
    bottom: 35px;
    height: 40px;
    width: 40px;
  }
  